body {
	background-color: #f58a4c;	
   
}

.platform{
    display: flex;
    
    h1{
        color: #161515e0;
        font-family: "Exo 2", sans-serif;
        font-size:60px;
        margin-top: 2px;
        margin-right: 20px;
       margin-bottom: 0%;
    }
  img{
    height: 60px;
    width: 60px;
    margin-right: 10px;
    margin-top: 10px;
  }

.navbar {
    background-color: #f58a4c;
    height: 50px;
   width: 450px;
   margin-left: 500px;
   margin-top: 20px;
       
  }
  
  /* links inside the navigation bar */
  .navbar a {
    float: left;
    color: #b13f12e0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #df4c20e0;
    color: black;
  }
}
.box1{
    
    /* Text over Image */
    .inner {
     
      position: absolute;
      bottom:150px;
      right: 300px;
      left:200px;
      background-color: rgba(248, 147, 53, 0.616);
      width: 800px;
      color: #0a0a0ae0;
      font-size: 30px;
      height: 320px;
      width: 1000px;
     text-align: center;

    input, button{
        border-radius: 5px;
        border-color: #faf3f3;
        background-color: #f8d6bb;
        height: 30px;
        text-align: center;
       
    }
     
     h1{
      margin-bottom: 0%;
     }
     h4{
      margin-top: 0%;
     }
    }
  
  img{
      height: 400px;
      width: 1350px;
  }
}

.innerStyle img {

    width: 200px;
}

.innerStyle {
    margin: 10px;
    padding: 10px;
    background-color: bisque;
    border: 1px solid grey;
    border-radius: 15px;

}

#container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;

    button {
        width: 120px; 
        height: 40px; 
        margin-top: 490px;
        margin-left: 50px;
        border-radius: 8px;
        border-color: #faf3f3;
        font-size: 16px; 
        padding: 10px; 
      }
}


footer {
    background-color: rgba(243, 201, 173, 0.74);
    color: rgb(14, 13, 13);
    bottom: 0;
    width: 100vw;
    font-size: 16px;
    margin-top: 50px;

     input,
  button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button {
    background-color: #0c0c0c;
    color: #ffffff;
  }
  }
  footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 1em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 3fr 2fr 4fr;
    align-items: stretch;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: rgb(66, 63, 63);
    font-size: 1.4em;
    white-space: nowrap;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  li:not(:first-child) {
    margin-top: 0.8em;
  }
  ul li a {
    color: #050505;
    text-decoration: none;
  }
  ul li a:hover {
    color: #faf3f3;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }